.env
venv/
__pycache__/
# Dependencias
node_modules/

# Local env files
.env.local
*.env.local

# SQL dumps and session files
*.sql

generar_contexto.py
ver_estructura.py
contexto_parte_1.txt
contexto_parte_2.txt
contexto_parte_3.txt
contexto_parte_4.txt
contexto_parte_5.txt
contexto_parte_6.txt
contexto_parte_7.txt
contexto_parte_8.txt
contexto_parte_9.txt
contexto_parte_10.txt
contexto_parte_11.txt
contexto_parte_12.txt
